.arnings{
  .accountAmount{
    display: flex;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 52px;
    align-items: center;
    padding-right:80px;
    justify-content: space-between;
    >div{
      white-space: nowrap;
      div{
        color: #fff;border-radius: 8px;padding: 31px 51px 26px 51px;font-size: 36px;min-width: 260px;
        display: inline-block;
      }
      div.accountItems{
        background: -webkit-linear-gradient(left, #FFAF84, #F9698D);
        background: -o-linear-gradient(right, #FFAF84, #F9698D);
        background: -moz-linear-gradient(right, #FFAF84, #F9698D);
        background: linear-gradient(to right, #FFAF84 , #F9698D);
        margin-right: 30px;
        h1{font-size: 13px;color: #fff;font-weight: normal;}
      }
      .lockAmount{
        background: #F4F4F4;color: #657280;
        h1{color: #657280;}
      }
    }
    p{
      white-space: nowrap; 
      span{
        display: inline-block;width: 120px; height: 36px;line-height: 36px;border-radius: 2px;cursor: pointer;
        background-color: rgba(253, 145, 136, 1); color: #fff;margin-left: 30px;font-size: 14px;
      }
    }
  }
  .search{
    display: flex;align-items: center;margin-top: 30px;
    li{
      display: flex;align-items: center;white-space: nowrap;margin-right: 20px;
      input{width: 180px;height: 36px;margin-left: 10px;}
      div{height: 36px;line-height: 36px;}
    }
  }
}