.administrator{
  .accountAmount{
    display: flex;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 52px;
    align-items: center;
    padding-right:80px;
    justify-content: space-between;
    >div{
      white-space: nowrap;
      div{
        color: #fff;border-radius: 8px;padding: 31px 51px 26px 51px;font-size: 36px;min-width: 260px;
        display: inline-block;
      }
      div.accountItems{
        background: -webkit-linear-gradient(left, #FFAF84, #F9698D);
        background: -o-linear-gradient(right, #FFAF84, #F9698D);
        background: -moz-linear-gradient(right, #FFAF84, #F9698D);
        background: linear-gradient(to right, #FFAF84 , #F9698D);
        margin-right: 30px;
        h1{font-size: 13px;color: #fff;font-weight: normal;}
      }
      .lockAmount{
        background: #F4F4F4;color: #657280;
        h1{color: #657280;}
      }
    }
    p{
      white-space: nowrap; 
      span{
        display: inline-block;width: 120px; height: 36px;line-height: 36px;border-radius: 2px;cursor: pointer;
        background-color: rgba(253, 145, 136, 1); color: #fff;margin-left: 30px;font-size: 14px;
      }
      span:last-child{background-color: rgba(255, 255, 255, 1);border: 1px solid rgba(224, 224, 224, 1);color: #657280;}
    }
  }
  .search{
    display: flex;margin-top: 30px;
    li{
      display: flex; white-space: nowrap; align-items: center;
      margin-right: 30px;
      input, div{
        width: 180px;
        height: 36px;
        line-height: 36px;

      }
    }
  }
  .detaillist{
    margin-top: 28px;color: #686E76;font-size: 13px;
    li{
      display: flex;align-items: flex-start;margin-bottom: 13px;
      >div{
        color: #3B4754;
        li{
          width: 100%; display: block;
        }
      }
      .textarea{
        background: #F8F8F8;color: #686E76;padding-left: 11px;padding-top: 7px;
        width: 330px;height: 60px;
      }
      .coverimg{
        position: relative;
        img{width: 184px;height: 100px;margin-top: 12px;border: 1px solid #f1f1f1;cursor: pointer;}
        span{background:#000;opacity:0.2;color:#fff;position: absolute;left:0;right: 0;bottom: 0;padding-left:5px;
          overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
        }
      }
      .tags{
        width: 450px;
        label{
          display: inline-block;border: 1px solid #E0E0E0;padding:0 12px; height: 30px; line-height: 30px;
          border-radius: 2px;color: #3B4754;font-size: 13px;margin-right: 10px;margin-top: 10px;
        }
        label.active{border: 1px solid #498DFF;color: #498DFF;}
      }
      
    }
    .btnitems{
      margin-top: 50px;
      button{
        border-radius: 2px; background: #498DFF; padding: 0 25px; height: 36px;line-height: 36px;font-size: 14px;
      }
    }
  }
}