
html, body, #root {height: 100%; background: #fff;}
body,div,span,a,ul,li,dl,dd,dt,h1,h2,h3,p{margin: 0;padding:0;list-style: none;}
h1,h2{font-size: 12px; font-weight: normal;}
em{list-style-type: none;font-style: normal;}
input, .radius2, .ant-input, .ant-select-selection{border-radius: 2px;}
.line{text-decoration: underline;}
.g-tl{text-align: left;}
.g-tc{text-align: center;}
.g-tr{text-align: right;}
.ml10{margin-left: 10px;}
.ml30{margin-left: 30px;}
.ml40{margin-left: 40px;}
.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}
.mt40{margin-top: 40px;}
.mb10{margin-bottom: 10px;}
.mt30{margin-top: 30px;}
.m5{margin: 0 5px;}
.w150{width: 150px;}
.w180{width: 180px;}
.w260{width: 260px;}
.hide{display: none;}
.ant-modal-content{border-radius: 2px;}
.ant-modal-footer{text-align: center;background: #F6F6F6;height: 62px;}
.ant-btn{border-radius: 2px;height: 36px;line-height: 36px;padding:0 25px;}
.ant-btn.ant-btn-sm{height: 24px;line-height: 24px;padding: 0 7px;font-size: 12px;}
.blue-color{color: #498DFF;}
.orange-color{color: #FD9188;}
.red-color{color: #f00;}
.ant-btn.btn-orange{background: #FD9188;color: #fff;border:1px solid rgba(253, 145, 136, 1)}
.relogin-blocks{text-align: center;font-size: 16px;position: absolute; left: 50%;top: 50%;margin-top: -135px;margin-left: -140px;}
.relogin-blocks img{width: 280px;height: 250px;}
.login-blocks{
  width: 440px;
  height: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -195px;
  margin-top: -280px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 0.5);
}
.login-blocks h1{
  text-align: center;
  height: 180px;
  line-height: 180px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: -webkit-linear-gradient(#498DFF, #5CA9FF); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#498DFF, #5CA9FF); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#498DFF,#5CA9FF); /* Firefox 3.6 - 15 */
  background: linear-gradient(#498DFF, #5CA9FF);
}
.login-blocks > ul{
  margin-top: 85px;
}
.login-blocks > ul li{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0;

}
.login-blocks label{display: block; width: 100px; text-align: right;}
.login-blocks input{width: 340px;border-radius: 2px;height: 50px;border: 1px solid #E0E0E0;margin: 0 auto;}
.login-blocks .bottom-blocks{
  position: absolute;
  bottom: -42px;
  left: 0;
  right: 0;
  text-align: center;
}
.login-blocks .bottom-blocks img{
  vertical-align: top;
}
.login-blocks .auth-code{
  padding-left: 50px;
}
.login-blocks .auth-code input{
  width: 180px;
  margin: 0;
}
.login-blocks .auth-code .auth-img{
  width: 114px;
  border: 1px solid #000;
  height: 50px;
  margin-left: 30px;
}
.login-blocks .button{
  border-radius: 2px;
  height: 50px;
  width: 340px;
  background: #498DFF;
}
.login-form .header{
  height: 60px;
  background-color: rgba(35, 46, 82, 1);
  color:#fff;
  font-size:18px;
  line-height: 60px;
}
.login-form .nav{
  margin: 0 auto;
  width: 800px;
}
.login-form .nav-reg{
  font-size:12px;
  float: right;
}
.login-form .nav-reg a{
  color:#fff;
  border: 1px solid #fff;
  padding: 3px 18px;
  border-radius: 2px;
  margin-right:10px;
}
.login-form .nav-reg a.active{
  background: #498DFF;
  border: 1px solid #498DFF;
}
.register-blocks{
  width:360px;
  margin: 100px auto;
}
.register-blocks .ipttxt{
  width: 360px;
  height: 46px;
  border-radius: 2px;
}
.register-blocks .ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 40px;
}
.register-blocks .btn-blue{
  width: 172px;
  height: 50px;
  border-radius: 2px;
  background-color: rgba(73, 141, 255, 1);
  color:#fff;
  font-size: 18px;
  text-align: center;
  margin-right: 16px;
}
.register-blocks .btn-white{
  width: 172px;
  height: 50px;
  border-radius: 2px;
  color:#fff;
  font-size: 18px;
  text-align: center;
  background-color: #E0E0E0;
}
.type-blocks{
  margin-top: 101px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size:12px;
}
.type-blocks li{
  margin-right:96px;
  width: 300px;
  height: 340px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 20px 0px rgba(229, 229, 229, 1);
  padding: 27px 0 20px 0;
}
.type-blocks li:last-child{margin-right: 0;}
.type-blocks h1{
  color: rgba(73, 141, 255, 1);
  font-size: 20px;
  font-weight: normal;
}
.type-blocks p{
  color:#8A8A8A;
  margin: 0;
}
.type-blocks a{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
  background-color: rgba(73, 141, 255, 1);
  color:#fff;
  width:160px;
}
.type-blocks img{
  vertical-align: top;
  margin-top:40px;
  margin-bottom: 29px;
}
.sider{
  width: 212px;
  min-height: 100vh;
  color: '#fff';
  background: #232E52;
}
.sider .logo{
  text-align: center;
  height: 69x;
  line-height: 69px;
  border-bottom: 1px solid #c1c1c1;
}
.menu-blocks .ant-menu-inline .ant-menu-item{
 margin-top: 0;
}
.menu-blocks>ul, .menu-blocks .ant-menu-inline.ant-menu-sub{
  background: #232E52;
  box-shadow: none;
}
.header-blocks{
  height: 70px;
  background: #fff;
  text-align: right;
  line-height: 70px;
  border-bottom: 1px solid #D9D9D9;
  display: flex;align-items: center;justify-content: flex-end;
  padding-right: 78px;
}
.header-blocks .identity-items{
  display: inline-block; padding-left: 20px;font-size: 16px;
}
.header-blocks label{vertical-align: middle; width: 31px;height: 31px;border-radius: 50%;display: inline-block;overflow: hidden;}
.header-blocks label img{max-width: 100%; max-height: 100%;vertical-align: top;}
.header-blocks div{margin-left: 10px;}
.header-blocks span{cursor: pointer;}
.header-blocks span.username{padding-left: 8px;padding-right: 10px;display: inline-block;}
.header-blocks .ant-btn{padding: 0 20px;}
.content-blocks{
  padding: 31px 78px 0 78px;
  min-height: 360px;
}
.ant-layout{
  background: #fff;
}
/***内页导航****/
.nav-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #686E76;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(223, 223, 223, 1);
  font-size: 13px;
}
.nav-title .button{
  background: #498DFF;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 0 13px;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
}
.small-title{
  color: #686E76;
  font-size: 18px;
  font-weight: normal;
  padding-top: 23px;
}
.small-title em{
  display: inline-block;
  width: 5px;
  height: 18px;
  border-radius: 2px;
  background-color: rgba(255, 195, 0, 1);
  vertical-align: middle;
  margin-right: 10px;
}
/****表格样式***/
.table{
  margin-top: 20px;
  color:#686E76;
  border: 1px solid rgba(230, 238, 244, 1);
}
.ant-table-thead > tr{
  background: #EEF6FD 100%;
  font-size: 13px;
  font-weight: normal;
}
.ant-table-thead > tr > th{text-align: center;color:#686E76; padding: 14px;font-weight: normal;}
.ant-table-tbody > tr > td{padding: 10px 0;font-size: 12px;color: #3B4754;text-align: center;font-weight: normal;}
.table .opeartion-items span{color: #498DFF;margin:0 13px;display: inline-block;cursor: pointer;}