.pubAccount{
  /**编辑信息**/
  .editItems{
    margin-top: 28px;
    .pb20{padding-bottom: 30px;}
    dd{
      display: flex;align-items: flex-start;white-space: nowrap;justify-content: flex-start;
      padding-bottom: 16px;
      .name{
        display: block;width: 90px;color: #686E76;font-size: 13px;
      }
      >div{
        width: 700px;
        .ipttxt{height: 36px;line-height: 34ppx;width: 220px;}
      }
      .tags{
        width: 450px;white-space: normal;
        label{
          display: inline-block;border: 1px solid #E0E0E0;padding:0 12px; height: 30px; line-height: 30px;
          border-radius: 2px;color: #3B4754;font-size: 13px;margin-right: 10px;margin-top: 10px;
        }
        label.active{border: 1px solid #498DFF;color: #498DFF;}
      }
    }
    dt{margin-top: 26px;}
  }
  .search{
    display: flex;align-items: center;margin-top: 30px;
    li{
      display: flex;align-items: center;white-space: nowrap;margin-right: 20px;
      input{width: 180px;height: 36px;margin-left: 10px;}
      div{height: 36px;line-height: 36px;}
    }
  }
  .noData{
    margin-top: 30px;text-align: center;padding: 30px 0;
  }
  .list{
    margin-top: 30px;font-size: 12px;color: #686E76;
    display: flex;flex-wrap: wrap;align-items: center;
    dd{
      padding: 10px;border: 1px solid #E0E0E0;width: 200px; height: 210px;position: relative;
      margin-right: 20px;margin-bottom: 20px;
      .title{
        position: relative;overflow: hidden;width: 180px;height: 100px;
        &>a{
          display: block;position: absolute;left: 0;right: 0;bottom: 0px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
          background: #f5f7f8;padding-left: 5px;width: 100%;
        }
      }
      img{margin-bottom: 10px;width: 100%;height: 100%;}
      >div.btn{
        line-height: 20px;position: absolute;left: 10px;right: 10px;bottom: 10px;
        button{padding: 0 3px;height: 20px;line-height: 20px;font-size: 12px;float: right;}
      }
     
    }
  }
  /*确认接此广告模板*/
  .receiveAd{
    padding: 50px 0 10px 0;
    li{
      display: flex;align-items: flex-start;margin-bottom: 20px;font-size: 13px;
      em.name{
        display: block;width: 150px;
      }
      div{
        input, >div{height: 36px;line-height: 36px;}
      }
      .coverimg{
        position: relative;
        img{width: 184px;height: 100px;margin-top: 12px;border: 1px solid #f1f1f1;cursor: pointer;}
        span{
          background:#000;opacity:0.2;color:#fff;position: absolute;left:0;right: 0;bottom: 0;padding-left:5px;
          white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
        }
      }
    }
  }
}